header{
    display: flex;
    justify-content: space-between;
}

.logo{
 font-size: 1.5rem;
 font-weight: bold;
}

.logo-top{
color:green
}

.logo-bottom{
 margin-left: 7.5rem;
}

.header-links{
    display: flex;
    gap: 2rem;
    color: white;
}

.header-links >li>a:hover  {
    color: var(--green);
    cursor: pointer;
}

@media screen and (max-width:768px) {
    header>:nth-child(2){
        position: fixed;
        right: 2rem;
        z-index: 99;
    }
    .header-links{
        flex-direction: column;
        background-color: var(--appColor);
        padding: 2rem;
    }

    
}